@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: theme('colors.gray.100');
    background-color: theme('colors.gray.900');
  }

  h1 {
    font-size: theme('fontSize.3xl');
  }
}
